@model BusinessProject.Models.ZonaGeografica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ZonaGeografica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zoologico.nombreZoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zoologico.nombreZoo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigoZona }) |
    @Html.ActionLink("Back to List", "Index")
</p>
