@model BusinessProject.Models.rol_operacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rol_operacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.operacione.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operacione.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
