@model IEnumerable<BusinessProject.Models.AtiendeParqueadero>

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaParqueo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotalP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaParqueo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotalP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.codigoParqueo }) |
            @Html.ActionLink("Details", "Details", new { id = item.codigoParqueo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.codigoParqueo })
        </td>
    </tr>
        }

    </table>
</body>

</html>